* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

nav > ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul li {
    margin: 0 10px;
}

body {
    margin: auto 40px;
}

p {
    text-align: justify;
}

header {
    border-bottom: 1px solid black;

    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 20px 0;
}

.dropdown__menu {
    display: none;

    width: fit-content;

    padding: 5px;
    position: absolute;
    background-color: white;
    border: 1px solid black;
    border-top: 2px solid blue;
}

.dropdown a {
    text-decoration: none;
    color: black;
}

.dropdown__menu li {
    margin: 10px;
}

.dropdown__title {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    padding-block: 20px;
}

.dropdown__menu:hover,
.dropdown__title:hover ~ .dropdown__menu {
    display: block;
}