* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: auto 20px;
}

p {
    text-align: justify;
}

header {
    border-bottom: 1px solid black;

    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 20px 0;
}

nav > ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

li {
    list-style: none;
}

.dropdown {
    margin: 0 10px;
}

.dropdown > a {
    min-height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;
}

nav > ul > li {
    height: 100%;
}

.dropdown__menu {
    padding: 5px;
    position: absolute;
    background-color: grey;
}